<%= error_messages_for 'tztemplate' %>

<table class="ft" border="1">
<!--[form:tztemplate]-->
<tr>
	<th>名称</th>
	<td><%= text_field 'tztemplate', 'name'  %></td>
</tr>
<!--[eoform:tztemplate]-->

</table>