<%= error_messages_for 'dictionary' %>

<!--[form:dictionary]-->
<table class="ft" border="1">
<tr>
<td width="30%" align="right">字典名称：</td>
<td><%= text_field 'dictionary', 'name'  %></td>
</tr>
</table>
<!--[eoform:dictionary]-->

