<%= path "新增字典"%>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <div class="submit_div">
  <%= submit_tag "保存" %> | <%= link_to '返回', :action => 'list' %>
  </div>
<% end %>


