<%= path "新建字典条目"%>

<% form_tag :action => 'create_item', :id=>params[:id] do %>
  <%= render :partial => 'item_form' %>
 <%= submit_tag "保存", :class=>"submit" %> 
<% end %>

<script> 
  add_tab_button("/img/iconBack.png", "返回代码字典列表", "/dictionary/items/<%=params[:id]%>");    
</script>