<BODY>
<OBJECT classid="CLSID:9E4CCA44-17FC-402b-822C-BFA6CBA77C0C" codebase="/cab/griectl.cab#Version=5,3,10,705" width="100%" height="100%" id="ReportViewer" VIEWASTEXT>
  <param name="ReportURL" value="/report/<%=params[:t]%>.grf">
  <param name="DataURL" value="/report/<%=params[:t]%>">
</OBJECT>
</BODY>