<BODY>
<OBJECT classid="CLSID:9E4CCA44-17FC-402b-822C-BFA6CBA77C0C" codebase="griectl.cab#Version=5,0,8,331" width="100%" height="100%" id="ReportViewer" VIEWASTEXT>
  <param name="ReportURL" value="/report/1.grf">
  <param name="DataURL" value="/report/test_data">
</OBJECT>
</BODY>

<!--
<OBJECT classid="CLSID:76AB1C26-34A0-4898-A90B-74CCFF435C43" width="100%" height="100%" id="ReportDesigner" VIEWASTEXT>
<param name="LoadReportURL" value="http://www.mysite.com/webreport/grf/myreport.grf">
<param name="SaveReportURL" value="http://www.mysite.com/webreport/asp/DesignReportSave.asp">
</OBJECT> 
--> 
