<% for column in Doc.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @doc.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @doc %> |
<%= link_to 'Back', :action => 'list' %>
