<%= error_messages_for 'contract_template' %>

<table class="ft" border="1">
<!--[form:contract_template]-->
<tr>
	<th>名称</th>
	<td><%= text_field 'contract_template', 'name'  %></td>
</tr>
<!--[eoform:contract_template]-->

</table>