<%= javascript_include_tag 'Grid/GridE' %>

<%= path "合约规划模板"%>

<style>
#client{padding:0px;}
</style>

<div style="width:100%;height:100%;" id='grid'> 
  <bdo layout_url="/xml/gridstyle_contracttemplate.xml" Data_Url="/contract_template/get_data/<%=params[:id]%>" Upload_Url="/contract_template/upload_data/<%=params[:id]%>"> </bdo>
</div>

<script>
function save()
{
    Grids["grid1"].Save();
}
add_tab_button("/img/iconSave.png", "保存", "javascript:save()");  
</script>