
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= SystemConfig.find(:first).title %></title>
    <%#= stylesheet_link_tag "scaffold" %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "openbravo/#{current_user.style||'Blue'}/Main/Main_Manual" %>
    <%= stylesheet_link_tag "lmx_#{current_user.style || 'Blue'}" %>
    <%= stylesheet_link_tag "jquery-ui/jquery-ui.css" %>
    
    <%= javascript_include_tag :defaults %>
   <%= javascript_include_tag 'my97/WdatePicker.js' %>
    <%= javascript_include_tag "jquery/jquery.metadata.js" %>
    <%= javascript_include_tag 'jquery/jquery.validate.js' %>
    

    <script language="javascript">
      function setNotice(notice)
      {
          if (window.parent && window.parent!=window && window.parent.setNotice){
              window.parent.setNotice(notice);
          }else{
            alert(notice);
          }
      }
      function setError(notice)
      {
          if (window.parent && window.parent!=window && window.parent.setError){
              window.parent.setError(notice);
          }else{
              alert(notice);
          }
      }
    <% if flash[:notice] %>
        setNotice('<%=flash[:notice]%>');
      <%flash[:notice] = nil%>
    <% end %>
    <% if flash[:error] %>
        setError('<%=flash[:error]%>');
      <%flash[:error] = nil%>
    <% end %>
    </script>
  </head>

  <body style="height:100%">   
    <%= @content_for_layout  %>
  </body>
</html>


