
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "lmx_#{current_user.style || 'Blue'}" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery/jquery.metadata.js" %>
    <%= javascript_include_tag 'jquery/jquery.validate.js' %>

  <body style="height:100%;padding: 4px;">   
   <%= @content_for_layout  %>
  </body>
</html>


